* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.svg-container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}

section {
    padding: 30px 0;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

.examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.examples img {
    margin: 10px 0;
    max-width: 1200px;
}

footer {
    padding: 10px 0;
    border-top: 1px solid rgb(131, 104, 65, 0.4);
}

.footer-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-body p {
    color: rgba(68, 68, 78, 0.5);
    font-style: italic;
}

.footer-body p:first-of-type, .footer-body p:nth-of-type(2) {
    font-style: normal;
    font-weight: 600;
    color: #836841;
}

footer .ai-claim {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    font-style: italic;
}

.content {
  flex-grow: 1;
  padding: 30px 0;
}

.responsive-svg-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

